# Composer dependencies
# /vendor/ # Commented out to allow tracking of PHPMailer

# Credentials
/admin/secure/gdrive.dat
google_drive_credentials.json

# Local development files
composer.lock
.env
.DS_Store
